@import './imports/settings.imports';
@import './imports/tools.imports';
//**GLOBALES**/
html {
   box-sizing: border-box;
   font-size:62.5%;/* convertir 10px=1rem*/
}
*, *:before, *:after {
   box-sizing: inherit;
}
*{
   margin:0;
   padding:0;
   border: none;
   outline: none;
   scroll-behavior: smooth;

}
body{
   font-size:18px;
   font-size:1.8rem;
   line-height: 2;
}

//**HEADER**/
@import './components/header.components';
//**FOOTER**/
@import './components/footer.components';