@import '../../../../../sass/imports/settings.imports';
.Contact{
   background-color: red;
   text-align: center;
   .contact-p{
      color: $aqua;
   }
}
.mi-clase{
   background-color: bisque;
}
div{
   align-content: center;
}